// Bootstrap
@import "bootstrap-custom";

:root {
    --tec-font-family-sans-serif: "Montserrat", sans-serif;
}

// + + + + + + + + + + + general + + + + + + + + + + +
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-tap-highlight-color: transparent;
    background: #f2f0e8 url(../images/bg-tiled.jpg) repeat;
    color: #555;
    font: 400 18px/1.6 Open Sans,Arial,sans-serif;
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.fa-lg {
    font-size: 31px;
}

// + + + + + + + + + + + content + + + + + + + + + + +

#header {
    background: white;
    font-family: Montserrat,sans-serif;
    text-align: center;

    @include media-breakpoint-up(xl) {
        background: #d7d1bd;
    }
}

#top-bar {
    background: #58585a;
    border: none;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 50px;
    .btn.btn-member {
        border-radius: 0;
        background: #009ba7;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        padding: 15px 45px 17px 16px;
        .fa {
            font-size: 22px;
            margin-left: 4px;
            top: 25px;
            position: absolute;
            line-height: 0;
            right: 15px;
        }
    }

}

.logo {
    background: #fff;
    padding: 10px 24px 18px;
    z-index: 7;
    top: 0;
    box-shadow: 0 -10px 50px rgba(0,0,0,.35);
    display: inline-block;
    box-shadow: 0 -30px 50px rgba(0,0,0,.35);
    position: relative;
    z-index: 999;
    @include media-breakpoint-up(xl) {
        margin-left: 30px;
    }
}

.logo img {
    width: 175px;
    height: 113px;
}

.bg-mobile-nav {
    @include media-breakpoint-down(lg) {
        background: #009ba7;
        width: 100%;
        text-align: right;
    }
    button {
        color: white;
    }
}

.nav-logo {
    @include media-breakpoint-down(lg) {
        display: block;
        position: relative;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .logo {
        width:100%;
        position: relative;
        box-shadow: none;
        left: 0;
    }
}

// + + + + + + + + + + + content + + + + + + + + + + +

#main {
    margin: auto;
    background: #fff;
    max-width: 1170px;
    position: relative;
    box-shadow: 0 0 35px rgba(0,0,0,.1);
}

.page-heading {
    margin-bottom: 30px;
    background: #555656;
    padding: 32px 45px;
    h1 {
        font-size: 28px;
        color: #fff;
        font-family: Merriweather,serif;
        margin: 0;
        padding: 0;
        max-width: 75%;
    }
}

// + + + + + + + + + + + footer + + + + + + + + + + +

#footer, #footer a {
    color: #fff;
}

#footer {
    background: #009ba7 url(../images/footer-bg.jpg) top no-repeat;
    padding-top: 140px;
    font-size: 16px;
}

#footer,#footer a {
    color: #fff;
}

#footer .footer-content {
    padding: 35px;
    border-top: 6px solid #fff;
}

#footer .lead {
    margin: 5px 0;
}

#footer .tagline img {
    float: right;
    margin: 0;
    width: 150px;
    height: 77px;
}

@media (max-width: 1000px) {
    #footer .tagline img {
        float:none;
        margin: 15px auto;
    }
}

@media (max-width: 1000px) {
    #footer {
        text-align:center;
    }
}

#footer-nav {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#footer-nav .nav .fa-angle-down,#footer-nav .nav ul {
    display: none;
}

#footer-nav .nav a,#footer-nav .nav li {
    display: inline-block;
}

#credits {
    text-transform: uppercase;
    color: #aaa;
    font-size: 13px;
    padding: 30px 15px 5px;
    background: #58585a;
    font-family: Montserrat,sans-serif;
}

#credits .divider {
    color: #888
}

@media (max-width: 1000px) {
    #credits .col-md-6 {
        text-align:center;
    }
}

// + + + + + + + + + + + calendar + + + + + + + + + + +

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4 {
    font-size: 16px;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-h3 {
    font-size: 20px;
}

// + + + + + + + + + + + override + + + + + + + + + + +

#mainnav {
    min-height: 141px;
    display: flex;
    justify-content: end;
    align-items: center;
    #main-menu {
        padding-top: 52px;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 30px;
    }
    .nav-link {
        font-weight: 700;
        text-transform: uppercase;
        color: #58585a;
        padding: 10px 12px;
        font-size: 16px;
        &:focus, &:hover {
            text-decoration: none;
            background-color: #c36959;
            color: #fff;
            border-radius: 4px;
        }
    }
}